-- 用户表：存储系统用户基本信息
CREATE TABLE users (
    -- 用户ID，无符号大整数，自增，非空
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '用户ID',
    -- UUID, 32位长度，非空，唯一
    uuid VARCHAR(36) NOT NULL COMMENT 'UUID',
    -- 用户名，最长50字符，非空，唯一
    username VARCHAR(50) NOT NULL COMMENT '用户名',
    -- 密码哈希，最长255字符，非空（存储加密后的密码）
    password_hash VARCHAR(255) NOT NULL COMMENT '密码哈希',
    -- TOTP秘钥，255字符（可空，允许用户不提供）
    totp_secret VARCHAR(255) COMMENT 'TOTP秘钥',
    -- 邮箱，最长100字符，唯一（可空，允许用户不提供）
    email VARCHAR(100) UNIQUE COMMENT '邮箱',
    -- 昵称，最长100字符（可空）
    nickname VARCHAR(100) COMMENT '昵称',
    -- 头像URL，最长255字符（可空，用户可能没有设置头像）
    avatar_url VARCHAR(255) COMMENT '头像URL',
    -- 扩展数据，JSON格式（可空）    
    json_data JSON COMMENT '扩展数据',
    -- 状态：1-正常，0-禁用，默认1（非空）
    status TINYINT NOT NULL DEFAULT 1 COMMENT '状态：1-正常，0-禁用',
    -- 最后登录时间（可空，新用户未登录时为NULL）
    last_login_at DATETIME COMMENT '最后登录时间',
    -- 创建时间，非空，默认当前时间
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    -- 更新时间，非空，默认当前时间，更新时自动刷新
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    -- 主键约束：以id作为主键
    PRIMARY KEY (id),
    -- 唯一索引：确保UUID不重复
    UNIQUE KEY uk_uuid (uuid),
    -- 唯一索引：确保用户名不重复
    UNIQUE KEY uk_username (username)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='用户表';

-- 应用表：存储所有应用信息
CREATE TABLE applications (
    -- 应用ID，无符号大整数，自增，非空
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '应用ID',
    -- 应用编码，最长50字符，非空，唯一标识应用
    app_code VARCHAR(50) NOT NULL COMMENT '应用编码，唯一标识',
    -- 应用名称，最长100字符，非空
    app_name VARCHAR(100) NOT NULL COMMENT '应用名称',
    -- 应用描述，文本类型（可空，允许详细描述）
    description TEXT COMMENT '应用描述',
    -- 应用图标URL，最长255字符（可空，应用可能没有图标）
    icon_url VARCHAR(255) COMMENT '应用图标URL',
    -- 状态：1-启用，0-禁用，默认1（非空）
    status TINYINT NOT NULL DEFAULT 1 COMMENT '状态：1-启用，0-禁用',
    -- 创建时间，非空，默认当前时间
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    -- 更新时间，非空，默认当前时间，更新时自动刷新
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    -- 主键约束：以id作为主键
    PRIMARY KEY (id),
    -- 唯一索引：确保应用编码不重复
    UNIQUE KEY uk_app_code (app_code)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='应用表';

-- 用户-应用关联表：记录用户可以访问哪些应用
CREATE TABLE user_applications (
    -- 记录ID，无符号大整数，自增，非空
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '记录ID',
    -- 用户ID，关联users表，非空
    user_id BIGINT UNSIGNED NOT NULL COMMENT '用户ID',
    -- 应用ID，关联applications表，非空
    app_id BIGINT UNSIGNED NOT NULL COMMENT '应用ID',
    -- 状态：1-有效，0-无效，默认1（非空）
    status TINYINT NOT NULL DEFAULT 1 COMMENT '状态：1-有效，0-无效',
    -- 创建时间，非空，默认当前时间
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    -- 更新时间，非空，默认当前时间，更新时自动刷新
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    -- 主键约束：以id作为主键
    PRIMARY KEY (id),
    -- 唯一索引：确保用户与应用的关联关系唯一
    UNIQUE KEY uk_user_app (user_id, app_id),
    -- 普通索引：优化按应用查询用户的场景
    KEY idx_app_user (app_id, user_id),
    -- 外键约束：关联用户表，删除用户时级联删除关联记录
    CONSTRAINT fk_ua_user FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
    -- 外键约束：关联应用表，删除应用时级联删除关联记录
    CONSTRAINT fk_ua_app FOREIGN KEY (app_id) REFERENCES applications(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='用户-应用关联表';

-- 角色表：存储应用内的角色信息
CREATE TABLE roles (
    -- 角色ID，无符号大整数，自增，非空
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '角色ID',
    -- 应用ID，关联applications表，非空（角色属于特定应用）
    app_id BIGINT UNSIGNED NOT NULL COMMENT '应用ID',
    -- 角色编码，最长50字符，非空（应用内唯一）
    role_code VARCHAR(50) NOT NULL COMMENT '角色编码',
    -- 角色名称，最长100字符，非空
    role_name VARCHAR(100) NOT NULL COMMENT '角色名称',
    -- 角色描述，文本类型（可空）
    description TEXT COMMENT '角色描述',
    -- 状态：1-启用，0-禁用，默认1（非空）
    status TINYINT NOT NULL DEFAULT 1 COMMENT '状态：1-启用，0-禁用',
    -- 创建时间，非空，默认当前时间
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    -- 更新时间，非空，默认当前时间，更新时自动刷新
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    -- 主键约束：以id作为主键
    PRIMARY KEY (id),
    -- 唯一索引：确保应用内角色编码唯一（替代原冗余的idx_app索引）
    UNIQUE KEY uk_app_role (app_id, role_code),
    -- 外键约束：关联应用表，删除应用时级联删除角色
    CONSTRAINT fk_role_app FOREIGN KEY (app_id) REFERENCES applications(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='角色表';

-- 用户-角色关联表：记录用户在特定应用中拥有的角色
CREATE TABLE user_roles (
    -- 记录ID，无符号大整数，自增，非空
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '记录ID',
    -- 用户ID，关联users表，非空
    user_id BIGINT UNSIGNED NOT NULL COMMENT '用户ID',
    -- 应用ID，关联applications表，非空（冗余字段，优化查询效率）
    app_id BIGINT UNSIGNED NOT NULL COMMENT '应用ID',
    -- 角色ID，关联roles表，非空
    role_id BIGINT UNSIGNED NOT NULL COMMENT '角色ID',
    -- 状态：1-有效，0-无效，默认1（非空）
    status TINYINT NOT NULL DEFAULT 1 COMMENT '状态：1-有效，0-无效',
    -- 到期时间（可空，NULL表示永久有效）
    expire_time DATETIME COMMENT '到期时间（NULL表示永久有效）',
    -- 创建时间，非空，默认当前时间
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    -- 更新时间，非空，默认当前时间，更新时自动刷新
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    -- 主键约束：以id作为主键
    PRIMARY KEY (id),
    -- 唯一索引：确保用户在应用中拥有的角色唯一
    UNIQUE KEY uk_user_app_role (user_id, app_id, role_id),
    -- 普通索引：优化按应用查询用户角色的场景
    KEY idx_app_user (app_id, user_id),
    -- 普通索引：优化查询过期角色的场景
    KEY idx_expire_time (expire_time),
    -- 外键约束：关联用户表，删除用户时级联删除关联记录
    CONSTRAINT fk_ur_user FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
    -- 外键约束：关联应用表，删除应用时级联删除关联记录
    CONSTRAINT fk_ur_app FOREIGN KEY (app_id) REFERENCES applications(id) ON DELETE CASCADE,
    -- 外键约束：关联角色表，删除角色时级联删除关联记录
    CONSTRAINT fk_ur_role FOREIGN KEY (role_id) REFERENCES roles(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='用户-角色关联表';

-- 权限表：存储应用内的权限定义
CREATE TABLE permissions (
    -- 权限ID，无符号大整数，自增，非空
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '权限ID',
    -- 应用ID，关联applications表，非空（权限属于特定应用）
    app_id BIGINT UNSIGNED NOT NULL COMMENT '应用ID',
    -- 权限编码，最长100字符，非空，格式为resource:target:action
    permission_code VARCHAR(100) NOT NULL COMMENT '权限编码，格式为resource:target:action',
    -- 权限名称，最长200字符，非空
    permission_name VARCHAR(200) NOT NULL COMMENT '权限名称',
    -- 权限描述，文本类型（可空）
    description TEXT COMMENT '权限描述',
    -- 状态：1-启用，0-禁用，默认1（非空）
    status TINYINT NOT NULL DEFAULT 1 COMMENT '状态：1-启用，0-禁用',
    -- 创建时间，非空，默认当前时间
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    -- 更新时间，非空，默认当前时间，更新时自动刷新
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    -- 主键约束：以id作为主键
    PRIMARY KEY (id),
    -- 唯一索引：确保应用内权限编码唯一（替代原冗余的idx_app索引）
    UNIQUE KEY uk_app_permission (app_id, permission_code),
    -- 普通索引：优化按权限编码查询的场景
    KEY idx_permission_code (permission_code),
    -- 外键约束：关联应用表，删除应用时级联删除权限
    CONSTRAINT fk_permission_app FOREIGN KEY (app_id) REFERENCES applications(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='权限表';

-- 角色-权限关联表：记录角色拥有的权限
CREATE TABLE role_permissions (
    -- 记录ID，无符号大整数，自增，非空
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '记录ID',
    -- 角色ID，关联roles表，非空
    role_id BIGINT UNSIGNED NOT NULL COMMENT '角色ID',
    -- 权限ID，关联permissions表，非空
    permission_id BIGINT UNSIGNED NOT NULL COMMENT '权限ID',
    -- 创建时间，非空，默认当前时间
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    -- 更新时间，非空，默认当前时间，更新时自动刷新
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    -- 主键约束：以id作为主键
    PRIMARY KEY (id),
    -- 唯一索引：确保角色与权限的关联关系唯一
    UNIQUE KEY uk_role_permission (role_id, permission_id),
    -- 普通索引：优化按权限查询角色的场景
    KEY idx_permission_role (permission_id, role_id),
    -- 外键约束：关联角色表，删除角色时级联删除关联记录
    CONSTRAINT fk_rp_role FOREIGN KEY (role_id) REFERENCES roles(id) ON DELETE CASCADE,
    -- 外键约束：关联权限表，删除权限时级联删除关联记录
    CONSTRAINT fk_rp_permission FOREIGN KEY (permission_id) REFERENCES permissions(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='角色-权限关联表';

-- 用户-权限关联表：记录用户直接拥有的权限（不通过角色）
CREATE TABLE user_permissions (
    -- 记录ID，无符号大整数，自增，非空
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '记录ID',
    -- 用户ID，关联users表，非空
    user_id BIGINT UNSIGNED NOT NULL COMMENT '用户ID',
    -- 应用ID，关联applications表，非空
    app_id BIGINT UNSIGNED NOT NULL COMMENT '应用ID',
    -- 权限ID，关联permissions表，非空
    permission_id BIGINT UNSIGNED NOT NULL COMMENT '权限ID',
    -- 状态：1-有效，0-无效，默认1（非空）
    status TINYINT NOT NULL DEFAULT 1 COMMENT '状态：1-有效，0-无效',
    -- 到期时间（可空，NULL表示永久有效）
    expire_time DATETIME COMMENT '到期时间（NULL表示永久有效）',
    -- 创建时间，非空，默认当前时间
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    -- 更新时间，非空，默认当前时间，更新时自动刷新
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    -- 主键约束：以id作为主键
    PRIMARY KEY (id),
    -- 唯一索引：修复原拼写错误（NIQUE -> UNIQUE），确保用户在应用中拥有的权限唯一
    UNIQUE KEY uk_user_app_permission (user_id, app_id, permission_id),
    -- 普通索引：优化按应用查询用户权限的场景
    KEY idx_app_user (app_id, user_id),
    -- 普通索引：优化查询过期权限的场景
    KEY idx_expire_time (expire_time),
    -- 外键约束：关联用户表，删除用户时级联删除关联记录
    CONSTRAINT fk_up_user FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
    -- 外键约束：关联应用表，删除应用时级联删除关联记录
    CONSTRAINT fk_up_app FOREIGN KEY (app_id) REFERENCES applications(id) ON DELETE CASCADE,
    -- 外键约束：关联权限表，删除权限时级联删除关联记录
    CONSTRAINT fk_up_permission FOREIGN KEY (permission_id) REFERENCES permissions(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='用户-权限关联表';

